* {
    padding: 0;
    margin: 0;

}

body {
    background: url(bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#board {
    background: linear-gradient(45deg, rgb(238, 238, 146), rgb(154, 238, 154));
    width: 90vmin;
    height: 92vmin;
    display: grid;
    border: 1px solid rgb(34, 240, 240);
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: url(snakeHead.png);
    background-size: 2.1rem;
    /* Or cover, depending on desired behavior */
    object-fit: cover;
    background-repeat: no-repeat;



}

.snake {
    
    background-color: rgb(49, 202, 192);
    height: 1.8rem;
    border-radius: 1rem;
    border: 1px solid rgb(19, 23, 26);
    box-shadow: 0 3px 2px rgba(110, 193, 248, 0.3);
}

.food {
    background: url(apple.png);
    background-size: 40px;
    object-fit: contain;
   /* animation: ani 10s linear infinite; */
}
/* @keyframes ani{
    0%{
        transform:scale(0)
    }
    
    100%{
        transform:scale(7)
    }
} */

#HiScoreBox,
#ScoreBox {
    color: #f2e8cf;
    font-size: 2rem;
    text-shadow: 0 0 3px #f2cc8f, 0 0 5px #f2cc8f;
}

.SnakeTitle {
    height: 80px;
    width: 80px
}

.snakeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.1rem;
}
